{{#each posts as |post|}}
<div>
    <a href="/dashboard/edit/{{post.id}}">
        <button type="button" class="post-button">
            <header>{{post.title}}</header>
            <p>{{formatDate post.date_created}}</p>
        </button>
    </a>
</div>

<!-- Display the post editor if it's enabled, it's in update mode, and the post's id matches the editor's -->
{{#if ../editor.enabled}}
{{#if (isEqual ../editor.type "update")}}
{{#if (isEqual ../editor.edit_id post.id)}}
<div class="card" id="post-editor">
    <header class="card-header">
        <h2>Update Post</h2>
    </header>
    <form id="editor-form">
        <label for="post-title">Title</label>
        <input type="text" id="post-title" />
        <label for="post-content">Content</label>
        <input type="text" id="post-content" />
        <button type="submit">Update Post</button>
        <button type="button" id="delete-button">Delete Post</button>
    </form>
</div>
{{/if}}
{{/if}}
{{/if}}

{{/each}}

{{#unless editor.enabled}}
<button id="new-post-button">+ New Post</button>
{{/unless}}

{{#if editor.enabled}}
{{#if (isEqual editor.type "create")}}
<div class="card" id="post-editor">
    <header class="card-header">
        <h2>Create New Post</h2>
    </header>
    <form id="editor-form">
        <label for="post-title">Title</label>
        <input type="text" id="post-title" />
        <label for="post-content">Content</label>
        <input type="text" id="post-content" />
        <button type="submit">Create Post</button>
    </form>
</div>
{{/if}}
{{/if}}

{{#unless editor.enabled}}
<script src="/js/post.js"></script>
{{/unless}}
{{#if editor.enabled}}
{{#if (isEqual editor.type "create")}}
<script src="/js/postCreate.js"></script>
{{/if}}
{{#if (isEqual editor.type "update")}}
<script src="/js/postUpdate.js"></script>
{{/if}}
{{/if}}