<div class="card">
    <header class="card-header">
        <h2 id="form-title">Log In</h2>
    </header>
    <div class="card-body">
        <form id="login-signup-form", data-form-type="login">
            <label for="username">Username</label>
            <input type="text" id="username" />
            <label for="password">Password</label>
            <input type="password" id="password" />
            <button type="submit" id="submit-button">Log In</button>
        </form>
        <button type="button" id="switch-button" data-form-type="login">Sign Up Instead?</button>
    </div>
</div>
<script src="./js/login.js"></script>